name: Terraform Checks
run-name: Running Terraform Checks by ${{ github.actor }}

on:
 pull_request:
   branches:
     - main

jobs:
 Initial-Checks:
   runs-on: ubuntu-latest

   steps:
   - name: Getting initiator name
     run: echo "Workflow initiated by ${{ github.actor }} from branch ${{ github.ref_name }}"

 Terraform-Checks:
   runs-on: ubuntu-latest
   needs: Initial-Checks

   steps:
   - name: Checkout
     uses: actions/checkout@v3

   - name: Setup Terraform
     uses: hashicorp/setup-terraform@v3

   - name: Terraform fmt
     id: fmt
     run: terraform fmt -check

   - name: Terraform Validate
     id: validate
     run: terraform validate -no-color

   - uses: terraform-linters/setup-tflint@v3
     with:
       tflint_version: latest
  
   - name: Show version
     run: tflint --version

   - name: Init TFLint
     run: tflint --init

   - name: Run TFLint
     run: tflint -f compact